body {
  background-color: #282c34;
  color: white;
  font-family: sans-serif;
  text-align: center;
}
#navbar {
  padding: 1rem;
  background: #007bff;
}
#auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  padding: 10px 20px;
  font-size: 1rem;
  margin: 10px;
  cursor: pointer;
  border: none;
  color: white;
}
#login-btn {
  background-color: green;
}
#logout-btn {
  background-color: red;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px;
}
input {
  padding: 10px;
  background-color: gray;
  color: white;
}
::placeholder {
  color: white;
}